*{
    margin: 0;
}
html
    {background-color: beige;}
body{
    background-color: white;
    height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    text-align: center;
    padding: 25px 0;
}

img {
    width: 300px;
    height: 150px;
}

div{
    height: 200px;
    width: 300px;
    border: 2px solid black;
    text-align: center;
    margin: 25px auto;
    padding: 25px;
}